<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="URL" value="http://abond.qa4.nga.net.au/AP/HOME"/>
    <add key="ER_TESTDATA" value="Library\\Excel\\DataFiles\\TestData.xlsx"/>
     <add key="EP_TESTDATA" value="Library\\Excel\\DataFiles\\FormTemplate.xlsx"/>
    <add key="EP_TESTDATA" value="Library\\Excel\\DataFiles\\ReferenceMaterial.xlsx"/>
    <add key="EP_TESTDATA" value="Library\\Excel\\DataFiles\\HomeTest.xlsx"/>
    <add key="Wait" value="10"/><!--Only Integer Value-->
    
    <!--Do not make any changes in the below section. -->
    <!--Section Start-->
    <add key="ExtentReports" value="True"/>
    <add key="GlobalQueCreation" value="True"/>
    <!--Section End-->
    
  </appSettings>
</configuration>